.bigScreenText {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffdd2a;
  z-index: 3;
  color: OrangeRed;
  font-weight: 900;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
}
